<!--Create by Alexander Grugaruk 2015 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
	</head>
	<body>
		<div class="main">
		<div>
			Мы такие вот хорошие и проводим занятия по адресам
		</div>
		<div>
		<ul>
			<li>- г.Минск ул. Кальварийская 7 д.8;</li>
			<li>- г.Минск ул. Первомайская 13 ;</li>
		</ul>
		</div>
			<div>
				<div>Контактные телефоны:</div>
				<ul>
					<li>+375 29 523 32 44</li>
					<li>284 - 44 - 32</li>
				</ul>
			</div>
		</div>
	</body>
</html>