<!--Create by Alexander Grugaruk 2015 -->
<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
	</head>
	<body>
		<div class="header">
			<div class="gif">
				<img src="../images/giphy2.gif" height="80" width="120">
			</div>
			<div class="title">
				<p>Организация дополнительного образования "Учимся вместе"!</p>
			<div>
		</div>
	</body>
</html>